.login-page-container,
.otp-page-container,
.classlist-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fefef7c0;
}

.login-page,
.otp-page {
    height: 50%;
    min-height: 300px;
    width: 30%;
    min-width: 370px;
    border: 1px solid black;
    border-radius: 30px;
    border: none;
    box-shadow:  0px 0px 10px 2px #969693c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

h2 {
    font-size: 25px;
    font-style: italic;
}

.login-form {
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login-button,
.otp-verification-button {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: rgb(89, 89, 213);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(68, 68, 248);
}

.error-message {
    margin: 0;
    font-size: small;
    color: red;
}

.regenerate-otp-button {
    background-color: inherit;
    border: none;
    color: rgb(55, 55, 242);
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
}

.cards-container {
    height: 90vh;
    width: 98vw;
    overflow-y: auto;
    display: grid;
    place-items: center; 
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: 420px;
    
}

.class-card {
    height: 400px;
    width: 90%;
    max-width: 320px;
    border: none;
    box-shadow: 0px 0px 10px 2px rgb(136, 132, 132);
    border-radius:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
}

p {
    margin: 0
}
.details
{   
    height: 30px;
    width: 100%;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    background-color: #e2cef3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.details-button
{
    height: 25px;
    width: 120px;
    border: none;
    margin-right: 15px;
    border-radius: 15px;
    background-color: rgb(173, 82, 173);
    color: white;
    cursor: pointer;
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
.cards-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.cards-container::-webkit-scrollbar {
    width: 12px;
}

.cards-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}


.cards-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; 
    border: 2px solid #f1f1f1;
}

.cards-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
